* {
    box-sizing: border-box;
}

#app {
    border: 1px solid black;
    width: 60vw;
    height: 60vw;
   
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background: #9E829C;
    text-align: center; margin: auto;
}

.header {
    display: flex;
    align-items: center;
    background: none;
    font-size: 12px;

}

.header > * {
    color: #eeeeee;
}

.turn {
    padding: 12px;
}

.status {
    padding: 12px;
    flex-grow: 1;
    text-align: center;
}

.restart {
   
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    transition: all 0.5s;
    cursor: pointer;

}

.board {    
    display: grid;
    background: #3A3E3B;
    gap: 3px;
    padding: 3px;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.board__tile {
    background: #F0EFF4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #222222;
}

.board__tile:hover {
    background: #eeeeee;
}

.board__tile--winner {
    color: red;
}
@media only screen and (min-width: 600px) {
    
    
    #app {      
        width: 50vw;
        height: 50vw;        
        border-radius: 25px;
    }  
    
    .header {
        display: flex;
        align-items: center;
        background: none;
        font-size: 17px;
    
    }
    
    
    .status {
        padding: 12px;
        flex-grow: 1;
        text-align: center;
    }
    
    .restart {              
        font-size: 17px;  
    }
    
    .board {
        
        gap: 3px;
        padding: 3px;
        
    }
    
    .board__tile {
        
        font-size: 4vw;
       
    }
}
@media only screen and (min-width: 1050px) {
    
    
    #app {
        
        width: 30vw;
        height: 30vw;
        
        border-radius: 25px;
    }  
    
    .header {
        display: flex;
        align-items: center;
        background: none;
        font-size: 20px;
    
    }
    
    
    .status {
        padding: 12px;
        flex-grow: 1;
        text-align: center;
    }
    
    .restart {              
        font-size: 20px;  
    }
    
    .board {
        
        gap: 3px;
        padding: 3px;
        
    }
    
    .board__tile {
        
        font-size: 4vw;
       
    }
}